.rooms-main-div{
    margin-top: 16px;
    margin-left: 1rem;
}

.rooms-txt{
    font-size: 0.87rem;
    margin-bottom: 0.43rem;
}
.beds-select{
    width: 4.813rem;
    height: 3rem;
    border-radius: 0.25px;
   background-color: white;
}
