
.title-txt{   font-size: 0.87rem;
    margin-bottom: 0.43rem;
  }

.title-input{
    border-radius: 4px;
    background-color:white;
    width: 18.25rem;
    height: 2.5rem;
    padding-left: 1rem;
    border: 0.1px solid rgb(181, 179, 179);
}

