@import "../../../../../styles/Variables.scss";

.newproperty_txt{
   background-color: $lightpurple;
   border-radius: 5px;
   font-size: 0.85rem;
   padding: 4px;
   color: rgb(0, 0, 0);
   font-weight: 500;
   margin-bottom: 10px;
}

.rating-div{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

}