.confirm-label{
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    background-color: rgb(17, 73, 194);
    font-weight: bold;
    width: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 4px;
    border: none;
}