.maxdays {
  margin-top: 16px;

}

.maxdays-txt {
  font-size: 0.87rem;
  margin-bottom: 0.43rem;
}

.maxdays-select{
    width: 120px;
    height: 2.5rem;
    border-radius: 0.25px;
   background-color: white;
}
