.taxes {
    margin-top: 16px;
    display: flex;
  }
.taxes-txt {
  font-size: 0.87rem;
  margin-bottom: 0.43rem;
}

.taxes-input, .fee-input {
  border-radius: 4px;
  background-color: white;
  width: 89px;
  height: 2.5rem;
  padding-left: 1rem;
  border: 0.1px solid rgb(181, 179, 179);
  font-size: 1rem;
}
