@import "../../../../../styles/Variables.scss";


// <div className="special_deal">
// <div className="room_special_deal_div">
//   <img src={SpecialDealImg} className="room_special_deal_svg"/>
//   <p className="room_special_deal"> Special deal</p>
//   </div>
//   <p className="room_deal_txt"> Save 10% when you book 2+ night</p>
// // </div>


.room_special_deal{
color: white;
font-size: 1rem;
position:absolute;
top: 20%;
padding-left: 1rem;
}

.special_deal{
    margin-top: 12px;
    margin-bottom: 8px;
}
.room_deal_txt{
    padding-left: 1rem;
    font-size:0.85rem;
    color: $darkgrey;
}
.room_special_deal_div{
    position: relative;
    margin-bottom: 0.1rem;
}

