@import "../../../../styles/Variables.scss";

.room_card {
  height: fit-content;
  width: 18.3rem;
  border: 1px solid gray;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 6px 10px 0 rgba(224, 213, 213, 0.9);
  @media (max-width: 1353px) {
    width: 16rem;
  }
  @media (max-width: 1280px) {
    width: 26rem;
  }
  @media (max-width: 985px) {
    width: 24rem;
  }
  @media (max-width: 943px) {
    width: 18.3rem;
  }
  @media (max-width: 689px) {
    width: 100%;
  }
  transition: transform 0.4s ease-in-out;
  transform: scale(1);
}

.room_card:hover{
  background-color: rgb(247, 244, 244);
  transform: translateY(-6px);
}

.customstyle {
  width: 80.375rem;
  max-width: 1286px;
  padding: 0px;
  border: none;
}

.room_content {
  padding-left: 1rem;
  padding-top: 1rem;
}

.room_content_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.room_name_div {
  width: 40%;
}
.room_rating_div {
  padding-right: 1rem;
  margin-top: 4px;
}
.room_name_txt {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.room_address_div {
  display: flex;
  justify-content: start;
  margin-bottom: 11px;
}
.room_address_txt {
  font-size: 0.875rem;
  color: $darkgrey;
  margin-left: 3px;
}
.room_inclusive_div {
  display: flex;
  margin-bottom: 8px;
}
.room_inclusive_txt {
  font-size: 1rem;
  font-style: italic;
  color: $darkgrey;
}
.room_area_txt {
  font-size: 1rem;
  color: $darkgrey;
  margin-left: 1rem;
}
.room_occupancy_div {
  display: flex;
  margin-bottom: 8px;
}
.room_user_txt {
  font-size: 0.875rem;
  color: $darkgrey;
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.room_bed_div {
  display: flex;
  margin-bottom: 11px;
  align-items: center;
}
.room_bed_txt {
  font-size: 0.875rem;
  color: $darkgrey;
  margin-left: 5px;
}
.room_deal_div {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.room_price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3px;
}
.room_price_txt {
  font-size: 0.875rem;
  color: $lightgrey;
  margin-bottom: 8px;
}
.room_select_button {
  background-color: $uiBlue;
  color: white;
  padding: 12px 14.5px;
  border-radius: 4px;
}

.roomType-feedback-heading{
  display: flex;
  justify-content: center;
  // margin: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: larger;
  border-bottom: 1px solid gray;
}

.feedback-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  .feedback-card-heading, .feedback-heading{
    font-size: large;
    font-weight: 700;
    margin-bottom: 17px;
  }

  .feedback-card-rating{
    font-size: large;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }

  .feedback-card-feedbacks{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    .feedback-heading{
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 8px;
    }

    .feedbacks-list{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .feedback-item{
        margin: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
        font-style: italic;
      }
    }
  }
}
